## CSV to Table

In [0]:
spark.sql("SHOW TABLES").show(truncate=False)

+--------+---------------------+-----------+
|database|tableName            |isTemporary|
+--------+---------------------+-----------+
|default |airports_database_csv|false      |
+--------+---------------------+-----------+

In [0]:
data = spark.table("airports_database_csv")

In [0]:
data.show(10, truncate=False)

+---+----+-----+---+--------+--------------+---------+--------+--------------+---------+-------+------+-------+------+----+--------+--------+----+------+-------------------+------------------------+
|id |year|month|day|dep_time|sched_dep_time|dep_delay|arr_time|sched_arr_time|arr_delay|carrier|flight|tailnum|origin|dest|air_time|distance|hour|minute|time_hour          |name                    |
+---+----+-----+---+--------+--------------+---------+--------+--------------+---------+-------+------+-------+------+----+--------+--------+----+------+-------------------+------------------------+
|0  |2013|1    |1  |517.0   |515           |2.0      |830.0   |819           |11.0     |UA     |1545  |N14228 |EWR   |IAH |227.0   |1400    |5   |15    |2013-01-01 05:00:00|United Air Lines Inc.   |
|1  |2013|1    |1  |533.0   |529           |4.0      |850.0   |830           |20.0     |UA     |1714  |N24211 |LGA   |IAH |227.0   |1416    |5   |29    |2013-01-01 05:00:00|United Air Lines Inc.   |
|2  |2013|1    |1  |542.0   |540           |2.0      |923.0   |850           |33.0     |AA     |1141  |N619AA |JFK   |MIA |160.0   |1089    |5   |40    |2013-01-01 05:00:00|American Airlines Inc.  |
|3  |2013|1    |1  |544.0   |545           |-1.0     |1004.0  |1022          |-18.0    |B6     |725   |N804JB |JFK   |BQN |183.0   |1576    |5   |45    |2013-01-01 05:00:00|JetBlue Airways         |
|4  |2013|1    |1  |554.0   |600           |-6.0     |812.0   |837           |-25.0    |DL     |461   |N668DN |LGA   |ATL |116.0   |762     |6   |0     |2013-01-01 06:00:00|Delta Air Lines Inc.    |
|5  |2013|1    |1  |554.0   |558           |-4.0     |740.0   |728           |12.0     |UA     |1696  |N39463 |EWR   |ORD |150.0   |719     |5   |58    |2013-01-01 05:00:00|United Air Lines Inc.   |
|6  |2013|1    |1  |555.0   |600           |-5.0     |913.0   |854           |19.0     |B6     |507   |N516JB |EWR   |FLL |158.0   |1065    |6   |0     |2013-01-01 06:00:00|JetBlue Airways         |
|7  |2013|1    |1  |557.0   |600           |-3.0     |709.0   |723           |-14.0    |EV     |5708  |N829AS |LGA   |IAD |53.0    |229     |6   |0     |2013-01-01 06:00:00|ExpressJet Airlines Inc.|
|8  |2013|1    |1  |557.0   |600           |-3.0     |838.0   |846           |-8.0     |B6     |79    |N593JB |JFK   |MCO |140.0   |944     |6   |0     |2013-01-01 06:00:00|JetBlue Airways         |
|9  |2013|1    |1  |558.0   |600           |-2.0     |753.0   |745           |8.0      |AA     |301   |N3ALAA |LGA   |ORD |138.0   |733     |6   |0     |2013-01-01 06:00:00|American Airlines Inc.  |
+---+----+-----+---+--------+--------------+---------+--------+--------------+---------+-------+------+-------+------+----+--------+--------+----+------+-------------------+------------------------+
only showing top 10 rows

In [0]:
import pandas as pd


describe_df = data.describe().toPandas()

describe_df

,summary,id,year,month,day,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,...,carrier,flight,tailnum,origin,dest,air_time,distance,hour,minute,name
0,count,336776,336776,336776,336776,328521,336776,328521,328063,336776,...,336776,336776,334264,336776,336776,327346,336776,336776,336776,336776
1,mean,168387.5,2013.0,6.548509988835309,15.71078699194717,1349.1099473093045,1344.2548400123524,12.639070257304708,1502.0549985825894,1536.380220086942,...,None,1971.9236198541464,None,None,None,150.68646019807787,1039.9126036297123,13.180247404803193,26.23009953203316,None
2,stddev,97219.00146576285,0.0,3.4144572446788914,8.768607101536851,488.28179100116057,467.33575573420916,40.210060892129945,533.2641319903772,497.4571415143949,...,None,1632.4719381393152,None,None,None,93.68830465900975,733.2330333236786,4.661315707848448,19.300845657412882,None
3,min,0,2013,1,1,1.0,106,-43.0,1.0,1,...,9E,1,D942DN,EWR,ABQ,20.0,17,1,0,AirTran Airways Corporation
4,max,336775,2013,12,31,2400.0,2359,1301.0,2400.0,2359,...,YV,8500,N9EAMQ,LGA,XNA,695.0,4983,23,59,Virgin America

In [0]:
transposed_df = describe_df.transpose()

transposed_df

,0,1,2,3,4
summary,count,mean,stddev,min,max
id,336776,168387.5,97219.00146576285,0,336775
year,336776,2013.0,0.0,2013,2013
month,336776,6.548509988835309,3.4144572446788914,1,12
day,336776,15.71078699194717,8.768607101536851,1,31
dep_time,328521,1349.1099473093045,488.28179100116057,1.0,2400.0
sched_dep_time,336776,1344.2548400123524,467.33575573420916,106,2359
dep_delay,328521,12.639070257304708,40.210060892129945,-43.0,1301.0
arr_time,328063,1502.0549985825894,533.2641319903772,1.0,2400.0
sched_arr_time,336776,1536.380220086942,497.4571415143949,1,2359
arr_delay,327346,6.89537675731489,44.63329169019391,-86.0,1272.0
carrier,336776,None,None,9E,YV
flight,336776,1971.9236198541464,1632.4719381393152,1,8500
tailnum,334264,None,None,D942DN,N9EAMQ
origin,336776,None,None,EWR,LGA
dest,336776,None,None,ABQ,XNA
air_time,327346,150.68646019807787,93.68830465900975,20.0,695.0
distance,336776,1039.9126036297123,733.2330333236786,17,4983
hour,336776,13.180247404803193,4.661315707848448,1,23
minute,336776,26.23009953203316,19.300845657412882,0,59
name,336776,None,None,AirTran Airways Corporation,Virgin America

## Perguntas
### 1. Qual é o número total de voos no conjunto de dados?

In [0]:
data.count()

Out[18]: 336776

### 2. Quantos voos foram cancelados? (Considerando que voos cancelados têm `dep_time` e `arr_time` nulos)

In [0]:
from pyspark.sql import Window
from pyspark.sql.functions import avg, col, date_format, dayofmonth, month, count, when, row_number, stddev

In [0]:
data.filter(col('dep_time').isNull() & col('arr_time').isNull()).count()

Out[20]: 8255

### 3. Qual é o atraso médio na partida dos voos (dep_delay)?

In [0]:
data.select(avg("dep_delay")).first()[0]

Out[25]: 12.639070257304708

### 4. Quais são os 5 aeroportos com maior número de pousos?

In [0]:
data.groupBy('dest').count().orderBy(col('count').desc()).limit(5).show(truncate=False)

+----+-----+
|dest|count|
+----+-----+
|ORD |17283|
|ATL |17215|
|LAX |16174|
|BOS |15508|
|MCO |14082|
+----+-----+

### 5. Qual é a rota mais frequente (par origin-dest)?

In [0]:
data.groupBy('origin', 'dest').count().orderBy(col('count').desc()).first()

Out[32]: Row(origin='JFK', dest='LAX', count=11262)

### 6. Quais são as 5 companhias aéreas com maior tempo médio de atraso na chegada?

In [0]:
data.groupBy('carrier').agg(avg('arr_delay').alias('media_arr_delay')).orderBy(
    col('media_arr_delay').desc()
).limit(5).show(truncate=False)

+-------+------------------+
|carrier|media_arr_delay   |
+-------+------------------+
|F9     |21.920704845814978|
|FL     |20.115905511811025|
|EV     |15.79643108710965 |
|YV     |15.556985294117647|
|OO     |11.931034482758621|
+-------+------------------+

### 7. Qual é o dia da semana com maior número de voos?

In [0]:
data = data.withColumn('day_of_week', date_format('time_hour', 'E'))

data.groupBy('day_of_week').count().orderBy(col('count').desc()).first()

Out[40]: Row(day_of_week='Mon', count=50690)

### 8. Qual o percentual mensal dos voos tiveram atraso na partida superior a 30 minutos?

In [0]:
(
    data.withColumn('month', month('time_hour'))
    .groupBy('month')
    .agg(
        count('*').alias('total_voos'),
        (count(when(col('dep_delay') > 30, True)) / count('*') * 100).alias(
            'percentual_atraso'
        ),
    )
    .orderBy('month')
    .show()
)

+-----+----------+------------------+
|month|total_voos| percentual_atraso|
+-----+----------+------------------+
|    1|     27004|12.405569545252556|
|    2|     24951|12.752995871908942|
|    3|     28834|14.944163140736629|
|    4|     28330|15.993646311330744|
|    5|     28796|15.335463258785943|
|    6|     28243| 20.24218390397621|
|    7|     29425| 20.97875955819881|
|    8|     29327|14.450847342039758|
|    9|     27574|  8.77275694494814|
|   10|     28889| 9.335733324102598|
|   11|     27268| 8.757517969781428|
|   12|     28135|17.312955393637818|
+-----+----------+------------------+

### 9. Qual a origem mais comum para voos que pousaram em Seattle (SEA)?

In [0]:
(
    data.filter(col('dest') == 'SEA')
    .groupBy('origin')
    .count()
    .orderBy(col('count').desc())
    .first()
)

Out[41]: Row(origin='JFK', count=2092)

### 10. Qual é a média de atraso na partida dos voos (dep_delay) para cada dia da semana?

In [0]:
(
    data.groupBy('day_of_week')
    .agg(avg('dep_delay').alias('media_dep_delay'))
    .orderBy('media_dep_delay', ascending=False).show()
)

+-----------+------------------+
|day_of_week|   media_dep_delay|
+-----------+------------------+
|        Thu|16.148919990957108|
|        Mon|14.778936729330908|
|        Fri| 14.69605749486653|
|        Wed|11.803512219083876|
|        Sun|11.589531801152422|
|        Tue|10.631682565455652|
|        Sat| 7.650502333676133|
+-----------+------------------+

### 11. Qual é a rota que teve o maior tempo de voo médio (air_time)?

In [0]:
(
    data.groupBy('origin', 'dest')
    .agg(avg('air_time').alias('avg_air_time'))
    .orderBy(col('avg_air_time').desc())
    .first()
)

Out[47]: Row(origin='JFK', dest='HNL', avg_air_time=623.0877192982456)

### 12. Para cada aeroporto de origem, qual é o aeroporto de destino mais comum?

In [0]:
(
    data.groupBy('origin', 'dest')
    .agg(count('*').alias('num_voos'))
    .withColumn(
        'rank',
        row_number().over(
            Window.partitionBy('origin').orderBy(col('num_voos').desc())
        ),
    )
    .filter(col('rank') == 1)
    .select('origin', 'dest', 'num_voos').show()
)

+------+----+--------+
|origin|dest|num_voos|
+------+----+--------+
|   EWR| ORD|    6100|
|   JFK| LAX|   11262|
|   LGA| ATL|   10263|
+------+----+--------+

### 13. Quais são as 3 rotas que tiveram a maior variação no tempo médio de voo (air_time) ?

In [0]:
(
    data.groupBy('origin', 'dest')
    .agg(stddev('air_time').alias('stddev_air_time'))
    .orderBy(col('stddev_air_time').desc())
    .limit(3).show()
)

+------+----+------------------+
|origin|dest|   stddev_air_time|
+------+----+------------------+
|   LGA| MYR| 25.32455988429677|
|   EWR| HNL|21.266135468474193|
|   JFK| HNL|20.688824842787028|
+------+----+------------------+

### 14. Qual é a média de atraso na chegada para voos que tiveram atraso na partida superior a 1 hora?

In [0]:
(
    data.filter(col('dep_delay') > 60).agg(
        avg('arr_delay').alias('avg_arr_delay')
    ).show()
)

+------------------+
|     avg_arr_delay|
+------------------+
|119.04880549963919|
+------------------+

### 15. Qual é a média de voos diários para cada mês do ano?

In [0]:
(
    data.groupBy(
        month('time_hour').alias('month'), dayofmonth('time_hour').alias('day')
    )
    .agg(count('*').alias('total_voos'))
    .groupBy('month')
    .agg(avg('total_voos').alias('avg_voos_diarios'))
    .orderBy('month').show()
)

+-----+-----------------+
|month| avg_voos_diarios|
+-----+-----------------+
|    1|871.0967741935484|
|    2|891.1071428571429|
|    3|930.1290322580645|
|    4|944.3333333333334|
|    5|928.9032258064516|
|    6|941.4333333333333|
|    7|949.1935483870968|
|    8|946.0322580645161|
|    9|919.1333333333333|
|   10|931.9032258064516|
|   11|908.9333333333333|
|   12|907.5806451612904|
+-----+-----------------+

### 16. Quais são as 3 rotas mais comuns que tiveram atrasos na chegada superiores a 30 minutos?

In [0]:
(
    data.filter(col('arr_delay') > 30)
    .groupBy('origin', 'dest')
    .agg(count('*').alias('num_voos'))
    .orderBy(col('num_voos').desc())
    .limit(3).show()
)

+------+----+--------+
|origin|dest|num_voos|
+------+----+--------+
|   LGA| ATL|    1563|
|   JFK| LAX|    1286|
|   LGA| ORD|    1188|
+------+----+--------+

### 17. Para cada origem, qual o principal destino?

In [0]:
(
    data.groupBy('origin', 'dest')
    .agg(count('*').alias('num_voos'))
    .withColumn(
        'rank',
        row_number().over(
            Window.partitionBy('origin').orderBy(col('num_voos').desc())
        ),
    )
    .filter(col('rank') == 1)
    .select('origin', 'dest').show()
)

+------+----+
|origin|dest|
+------+----+
|   EWR| ORD|
|   JFK| LAX|
|   LGA| ATL|
+------+----+